<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.health.mapper.BloodOxygenMapper">

    <insert id="insert" parameterType="com.jxm.health.model.BloodOxygenModel">
        insert into blood_oxygen
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="XY != null">
                XY,
            </if>
            <if test="HR != null">
                HR,
            </if>
            <if test="testTime != null">
                test_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="XY != null">
                #{XY,jdbcType=INTEGER},
            </if>
            <if test="HR != null">
                #{HR,jdbcType=INTEGER},
            </if>
            <if test="testTime != null">
                #{testTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="getLastedData" resultType="com.jxm.health.dto.BloodOxygenDto">
        select
        XY,HR,test_time
        from blood_oxygen
        where user_id=#{userId}
        order by test_time desc limit 1
    </select>

    <select id="getItemHistory" resultType="com.jxm.health.dto.BloodOxygenDto">
        select
        XY,HR,test_time
        from blood_oxygen
        where user_id=#{userId}
        order by test_time desc
    </select>

    <resultMap id="HalfYearData" type="com.jxm.health.dto.BOHalfYearData">
        <result column="xy_average_value" jdbcType="INTEGER" property="XYAverageValue"/>
        <result column="hr_average_value" jdbcType="INTEGER" property="HRAverageValue"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="month" jdbcType="INTEGER" property="month"/>
    </resultMap>

    <select id="getHalfYearTrend" parameterType="java.lang.Integer" resultMap="HalfYearData">
        		SELECT
    YEAR(test_time) AS year,
    MONTH(test_time) AS month,
    AVG(XY) AS xy_average_value,
    AVG(HR) AS hr_average_value
FROM
    blood_oxygen
WHERE
		test_time BETWEEN CURDATE() - INTERVAL 6 MONTH AND CURDATE()
		and user_id=#{userId}
GROUP BY
    YEAR(test_time), MONTH(test_time), YEAR(test_time)*12 + MONTH(test_time)
ORDER BY
    year DESC, month DESC;
    </select>

    <resultMap id="LastTimeData" type="com.jxm.health.dto.BOLastTestTimeDto">
        <result column="XY" jdbcType="INTEGER" property="XY"/>
        <result column="HR" jdbcType="INTEGER" property="HR"/>
        <result column="test_time" jdbcType="VARCHAR" property="testTime"/>
        <result column="test_day" jdbcType="VARCHAR" property="testDay"/>
    </resultMap>

    <select id="getLastSevenTime" resultMap="LastTimeData">
        SELECT
	XY,
	HR,
	test_time,
	test_day
FROM
	(
	SELECT
		*,
		ROW_NUMBER () OVER ( PARTITION BY date_format( test_time, '%Y-%m-%d' ) ORDER BY test_time DESC ) AS row_num,
		date_format( test_time, '%Y-%m-%d' ) AS test_day
	FROM
		blood_oxygen
	where
	   user_id = #{userId}
	) AS RankedData
WHERE
	 row_num = 1
ORDER BY
	test_day DESC
	LIMIT 7;
    </select>


</mapper>