<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.health.mapper.BloodPressureMapper">

    <insert id="insert" parameterType="com.jxm.health.model.BloodPressureModel">
        insert into blood_pressure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="SYS != null">
                SYS,
            </if>
            <if test="DIA != null">
                DIA,
            </if>
            <if test="PUL != null">
                PUL,
            </if>
            <if test="testTime != null">
                test_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="SYS != null">
                #{SYS,jdbcType=INTEGER},
            </if>
            <if test="DIA != null">
                #{DIA,jdbcType=INTEGER},
            </if>
            <if test="PUL != null">
                #{PUL,jdbcType=INTEGER},
            </if>
            <if test="testTime != null">
                #{testTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="getLastedData" resultType="com.jxm.health.dto.BloodPressureDto">
        select
        SYS,DIA,PUL,test_time
        from blood_pressure
        where user_id=#{userId}
        order by test_time desc limit 1
    </select>

    <select id="getItemHistory" resultType="com.jxm.health.dto.BloodPressureDto">
        select
        SYS,DIA,PUL,test_time
        from blood_pressure
        where user_id=#{userId}
        order by test_time desc
    </select>

</mapper>