<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.health.mapper.GlycerolMapper">

    <insert id="insert" parameterType="com.jxm.health.model.GlycerolModel">
        insert into glycerol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="TRI != null">
                TRI,
            </if>
            <if test="testTime != null">
                test_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="TRI != null">
                #{TRI,jdbcType=FLOAT},
            </if>
            <if test="testTime != null">
                #{testTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="getLastedData" resultType="com.jxm.health.dto.GlycerolDto">
        select
        TRI,test_time
        from glycerol
        where user_id=#{userId}
        order by test_time desc limit 1
    </select>

    <select id="getItemHistory" resultType="com.jxm.health.dto.GlycerolDto">
        select
        TRI,test_time
        from glycerol
        where user_id=#{userId}
        order by test_time desc
    </select>

    <resultMap id="HalfYearData" type="com.jxm.health.dto.GlyHalfYearData">
        <result column="average_value" jdbcType="FLOAT" property="averageValue"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="month" jdbcType="INTEGER" property="month"/>
    </resultMap>

    <select id="getHalfYearTrend" parameterType="java.lang.Integer" resultMap="HalfYearData">
    SELECT
    YEAR(test_time) AS year,
    MONTH(test_time) AS month,
    AVG(TRI) AS average_value
FROM
    glycerol
WHERE
		test_time BETWEEN CURDATE() - INTERVAL 6 MONTH AND CURDATE()
		and user_id=#{userId}
GROUP BY
    YEAR(test_time), MONTH(test_time), YEAR(test_time)*12 + MONTH(test_time)
ORDER BY
    year DESC, month DESC;
    </select>

    <resultMap id="LastTimeData" type="com.jxm.health.dto.GlyLastTestTimeDto">
        <result column="TRI" jdbcType="FLOAT" property="TRI"/>
        <result column="test_time" jdbcType="VARCHAR" property="testTime"/>
        <result column="test_day" jdbcType="VARCHAR" property="testDay"/>
    </resultMap>

    <select id="getLastSevenTime" resultMap="LastTimeData">
        SELECT
	TRI,
	test_time,
	test_day
FROM
	(
	SELECT
		*,
		ROW_NUMBER () OVER ( PARTITION BY date_format( test_time, '%Y-%m-%d' ) ORDER BY test_time DESC ) AS row_num,
		date_format( test_time, '%Y-%m-%d' ) AS test_day
	FROM
		glycerol
	) AS RankedData
WHERE
	user_id =#{userId}
	AND row_num = 1
ORDER BY
	test_day DESC
	LIMIT 7;
    </select>

</mapper>