<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.health.mapper.GlycerolMapper">

    <insert id="insert" parameterType="com.jxm.health.model.GlycerolModel">
        insert into glycerol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="TRI != null">
                TRI,
            </if>
            <if test="testTime != null">
                test_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="TRI != null">
                #{TRI,jdbcType=FLOAT},
            </if>
            <if test="testTime != null">
                #{testTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="getLastedData" resultType="com.jxm.health.dto.GlycerolDto">
        select
        TRI,test_time
        from glycerol
        where user_id=#{userId}
        order by test_time desc limit 1
    </select>

    <select id="getItemHistory" resultType="com.jxm.health.dto.GlycerolDto">
        select
        TRI,test_time
        from glycerol
        where user_id=#{userId}
        order by test_time desc
    </select>

</mapper>