<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.health.mapper.UserEquipMapper">
    <resultMap id="BaseResultMap" type="com.jxm.health.model.UserEquipModel">
        <result column="imei" jdbcType="VARCHAR" property="imei"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        imei, user_id
    </sql>

    <resultMap id="userByEquip" type="com.jxm.health.model.UserByEquipModel">
        <id property="USERID" column="id"/>
        <result property="NICKNAME" column="nick_name"/>
        <result property="AVATARURL" column="avatar_url"/>
        <result property="GENDER" column="gender"/>
    </resultMap>

    <select id="getAllUserByEquip" resultMap="userByEquip">
        select ud.id,ud.nick_name,ud.avatar_url,ud.gender
        from user_detail as ud left join user_equip as ue on ud.id=ue.user_id
        where ue.imei=#{imei}
        order by ud.create_time desc
    </select>

    <insert id="insertUserEquip" parameterType="com.jxm.health.model.UserEquipModel">
        insert into user_equip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imei != null">
                imei,
            </if>
            <if test="userId != null">
                user_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imei != null">
                #{imei,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>

</mapper>